@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Black+Han+Sans&family=Sunflower:wght@500&display=swap");
@font-face {
	font-family: "KOTRA_BOLD-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SDSamliphopangche_Outline";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

$font-title: "KOTRA_BOLD-Bold", sans-serif;
$font-primary: "Do Hyeon", sans-serif;
$font-secondary: "Sunflower", sans-serif;
$font-outline: "SDSamliphopangche_Outline", sans-serif;

h1,
h2 {
	font-family: $font-title;
	color: #ddd;
}
h3,
h4,
h5,
h6,
.font-primary {
	font-family: $font-primary;
	color: #ddd;
}
p,
div,
.font-secondary,
button,
.btn,
select {
	font-family: $font-secondary;
	color: #ddd;
}
