@import "./variables";
@import "./typography";

.question-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 80px;
	animation: zoomIn forwards 0.5s;

	.number {
		font-size: 2rem;
		color: $color-primary;
		// text-shadow: 1px 1px 2px $color-text-shadow;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			width: 80%;
			background-color: $color-primary;
			border: 1px solid $color-primary;
			border-radius: 15px;
			box-shadow: 1px 1px 3px $color-text-shadow;
		}
	}

	.prompt {
		margin-top: 20px;
		font-size: 2.2rem;
		// text-shadow: 1px 1px 3px $color-text-shadow;
		word-wrap: break-word;
		word-break: keep-all;
	}
	.options-container {
		margin-top: 10px;
	}
	.option-btn {
		font-size: 1.2rem;
		display: block;
		width: 100%;
		padding: 20px 45px;
		color: white;
		background-color: #1e1e1e;
		font-family: $font-primary;
		border-radius: 20px;
		// box-shadow: 1px 1px 2px $color-text-shadow;
		transition: all 0.15s ease-in-out;
		word-wrap: break-word;
		word-break: keep-all;
		&:first-child {
			margin-bottom: 10px;
		}
		&:hover {
			transform: scale(1.05);
			filter: brightness(150%);
		}
	}

	.btn-menu {
		margin-bottom: 30px;
	}
}
