.count {
	padding: 30px 50px;
	margin: 10px;
	border-radius: 2rem;
	box-shadow: 1px 2px 2px #0d3b66;
	background-color: #faf0ca;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		color: #0d3b66;
		font-size: 1.2rem;
	}
}
