@import "./_typography";
@import "./_variables";

// common styles

.btn {
	display: inline-block;
	padding: 10px 40px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	font-size: 1.5rem;
	background-color: white;
	text-decoration: none;
	&:focus {
		outline: none;
	}
	&:hover {
		box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
	}
}
.btn-primary {
	background-color: $color-primary;
}
.btn-secondary {
	background-color: $color-secondary;
	color: black;
}
.btn-rounded {
	border-radius: 20px;
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

// App
.app-container {
	width: 100vw;
	max-width: 700px;
	background-color: black; // fallback when image load fails
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	background-image: url("../assets/marvel_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 100%;
	z-index: 0;
}
.bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: -1;
}
.main-content {
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

@media screen and (max-width: 700px) {
	.app-container {
		max-width: 100%;
	}
	.app-title {
		font-size: 3rem;
	}
	.sub-title {
		font-size: 1rem;
		transform: translateX(-60px) translateY(-10px) rotateZ(-10deg);
	}
	.landing-image {
		height: 200px;
		position: absolute;
		&.cap_america {
			left: -40px;
			top: 0;
		}
		&.ironman {
			right: -40px;
			top: 0;
		}
	}
}
