@import "./_typography";
@import "./variables";

// common styles

.btn {
	display: inline-block;
	padding: 10px 40px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	&:focus {
		outline: none;
	}
	&:hover {
		box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
	}
}
.btn-primary {
	background-color: $color-primary;
}
.btn-secondary {
	background-color: $color-secondary;
	color: black;
}

// App
.app-container {
	width: 100vw;
	max-width: 700px;
	background-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	background-image: url("../assets/avengers_poster.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: cover;
	position: relative;
}
.bg-overlay {
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.language-select-container {
	margin-top: auto;
	align-self: flex-start;
	margin-left: 20px;
	margin-bottom: 20px;
	svg {
		vertical-align: middle;
		margin-right: 5px;
	}
}
.language-select {
	color: black;
	padding: 5px 10px;
	border-radius: 12px;
	outline: none;
	transition: border-color 0.15s ease-in;
	&:hover {
		border-color: black;
	}
}

// landing
.landing {
	margin-top: 15vh;
}
.app-title {
	font-size: 5rem;
	text-align: center;
	text-shadow: 1px 1px 3px $color-text-shadow;
	span:first-child {
		// M
		color: #3c59e5;
	}
	span:nth-child(2) {
		// B
		color: #d246c7;
	}
	span:nth-child(3) {
		// T
		color: #ff866a;
	}
	span:nth-child(4) {
		// I
		color: #f9f871;
	}
	span:last-child {
		// 마블
		color: $color-primary;
	}
}
.sub-title {
	font-size: 1.4rem;
	transform: translateX(-180px) rotateZ(-15deg);
	text-shadow: 0px 0px 2px $color-text-shadow;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.app-title {
		font-size: 3rem;
	}
	.sub-title {
		font-size: 1rem;
		transform: translateX(-60px) translateY(-10px) rotateZ(-10deg);
	}
}

.btn-container {
	text-align: center;
	margin-top: 50px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.btn.start-btn {
	margin-bottom: 100px;
}

// assessment
.question-counter {
	margin-top: 30px;
	background-color: white;
	display: inline-block;
	padding: 8px 20px;
	border: 2px solid $color-primary;
	border-radius: 20px;
	font-family: $font-secondary;
	font-weight: 600;
}
.question-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 200px;

	.number {
		font-size: 2rem;
		color: $color-primary;
		text-shadow: 1px 1px 2px $color-text-shadow;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%);
			height: 4px;
			width: 80%;
			background-color: $color-primary;
			border: 1px solid $color-primary;
			border-radius: 15px;
			box-shadow: 1px 1px 3px $color-text-shadow;
		}
	}

	.prompt {
		margin-top: 20px;
		font-size: 2.2rem;
		text-shadow: 1px 1px 3px $color-text-shadow;
	}
	.options-container {
		margin-top: 10px;
	}
	.option-btn {
		font-size: 1.2rem;
		display: block;
		width: 100%;
		padding: 20px 45px;
		color: black;
		font-family: $font-secondary;
		border-radius: 20px;
		box-shadow: 1px 1px 2px $color-text-shadow;
		transition: all 0.15s ease-in-out;
		&:first-child {
			margin-bottom: 10px;
		}
		&:hover {
			transform: scale(1.05);
			filter: brightness(150%);
		}
	}
}
@media screen and (max-width: 768px) {
	.question-container {
		padding: 0 10px;
	}
	.option-btn:hover {
		transform: none !important;
		filter: none !important;
	}
}
